<app-navbar></app-navbar>
<div *ngIf="jobSummListP$ | async as jobSummList; else noCustomJobFound">
    <p class="h5 py-7">Custom Jobs</p>
    <div class="flex flex-wrap gap-6">
        <div 
            class="w-72 p-6 min-h-60 rounded-lg flex flex-col items-center justify-center gap-3 bg-n-3 bg-opacity-40 hover:bg-n-3 transition duration-200 cursor-pointer"
            [routerLink]="['/interview-quest/custom-job-form']" >
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z" clip-rule="evenodd"/>
            </svg>         
            Create custom job
        </div>
        <div 
            *ngFor="let job of jobSummList" 
            (click)="retrieveAllQns(job.customJobId)" 
            class="w-64 p-6 bg-n-3 rounded-lg flex flex-col gap-3 cursor-pointer"
        >
            <p class="font-bold min-h-16">{{job.title}}</p>
            <p>{{job.level | titlecase }} level</p>
            <p>{{job.createdTime | date: 'fullDate' }}</p>
            <button href="#" class="orange-outline-button-01 flex items-center">
                Explore 
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>
        </div>
    </div>
</div>
<ng-template #noCustomJobFound>
    <h2 class="h-2">Looks like you have not created any custom job yet</h2>
</ng-template>