<div class="container mt-28">
    <div class="text-4xl text-n-1 font-semibold pb-8">Tell us more about the job you are interviewing for</div>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
            <label 
                for="jobTitle" 
                class="form-label">Job Title</label>
            <input 
                type="text" 
                formControlName="jobTitle" 
                class="form-input"
                placeholder="Write your job title...">
            <div class="mt-3" *ngIf="jobForm.get('jobTitle')?.touched && jobForm.get('jobTitle')?.invalid">
                <p 
                    class="text-xs text-n-2"
                    *ngIf="jobForm.get('jobTitle')?.hasError('required')">
                    This field is required!
                </p>
                <p 
                    class="text-xs text-n-2"
                    *ngIf="jobForm.get('jobTitle')?.hasError('minlength')">
                    Must be at least 5 or more characters
                </p>
            </div>
        </div>
        <div class="mb-6">
            <label 
                for="jobDescription" 
                class="form-label">Job Description</label>
            <textarea 
                rows=10
                cols="5"
                formControlName="jobDescription" 
                class="form-input" 
                placeholder="Write your job description...">
            </textarea>
            <div class="mt-3" *ngIf="jobForm.get('jobDescription')?.touched && jobForm.get('jobDescription')?.invalid">
                <p 
                    class="text-xs text-n-2"
                    *ngIf="jobForm.get('jobDescription')?.hasError('required')">
                    This field is required!
                </p>
                <p 
                    class="text-xs text-n-2"
                    *ngIf="jobForm.get('jobDescription')?.hasError('minlength')">
                    Must be at least 50 or more characters
                </p>
            </div>
        </div>
        <div class="mb-6">
            <label 
                for="jobLevel" 
                class="form-label">Job Level</label>
            <select formControlName="jobLevel" id="jobLevel" class="form-input">
                <option value="" disabled selected>Please select</option>
                <option value="INTERNSHIP">Internship</option>
                <option value="ENTRY">Entry</option>
                <option value="JUNIOR">Junior</option>
                <option value="MID">Mid</option>
                <option value="SENIOR">Senior</option>
                <option value="OTHERS">Others</option>
            </select>
            <div class="mt-3" *ngIf="jobForm.get('jobLevel')?.touched && jobForm.get('jobLevel')?.invalid">
                <p 
                    class="text-xs text-n-2"
                    *ngIf="jobForm.get('jobLevel')?.hasError('required')">
                    This field is required!
                </p>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-6 md:grid-cols-6">
            <button 
                type="button" 
                class="custom-button-01"
                (click)="onBack()">Back</button>
            <button 
                type="submit" 
                class="custom-button-01 disabled:opacity-50 disabled:cursor-not-allowed hover:disabled:bg-transparent hover:disabled:text-white"
                [disabled]="!jobForm.valid">Next</button>
        </div>
    </form>
</div>