<!-- Cannot create separate component for successTemplate and use routerLink as redirectly whil
http is still processing will cancel the api call the moment we redirect away -->

<div class="container mt-28" *ngIf="!isSubmitted; else successTemplate">
    <div class="text-4xl text-n-1 font-semibold pb-8">Summary</div>
    <form (ngSubmit)="saveChanges()">
        <p class="h6 pb-4 underline underline-offset-4">Job Details</p>
        <div class="mb-6">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input 
                type="text" 
                class="form-input" 
                [(ngModel)]="jobForm.jobTitle" 
                name="jobTitle">
        </div>
        <div class="mb-6">
            <label for="jobDescription" class="form-label">Job Description</label>
            <textarea 
                rows=10 
                class="form-input" 
                [(ngModel)]="jobForm.jobDescription" 
                name="jobDescription">
            </textarea>
        </div>
        <div class="mb-6 flex flex-col gap-6">
            <label for="jobLevel" class="form-label">Job Level</label>
            <select id="jobLevel" class="form-input" [(ngModel)]="jobForm.jobLevel" name="jobLevel">
                <option value="" disabled selected>Please select</option>
                <option value="INTERNSHIP">Internship</option>
                <option value="ENTRY">Entry</option>
                <option value="JUNIOR">Junior</option>
                <option value="MID">Mid</option>
                <option value="SENIOR">Senior</option>
                <option value="OTHERS">Others</option>
            </select>
        </div>
        <p class="h6 py-4 underline underline-offset-4">Company Details</p>
        <div class="mb-6">
            <label for="companyName" class="form-label">Company Name</label>
            <input 
                type="text" 
                id="companyName" 
                class="form-input" 
                [(ngModel)]="companyForm.companyName" 
                name="companyName">
        </div>
        <div class="mb-6">
            <label for="companyDetails" class="form-label">Company Details</label>
            <textarea 
                rows=10 
                class="form-input" 
                [(ngModel)]="companyForm.companyDetails" 
                name="companyDetails">
            </textarea>
        </div>
        <p class="h6 pb-4 underline underline-offset-4">Documents</p>
        <ul class="mb-6">
            <li 
                *ngFor="let file of uploadForm; let i = index" 
                class="flex gap-4 items-center justify-start">
                <input 
                    type="file" 
                    (change)="onFileChange($event)" 
                    accept=".doc,.docx,application/pdf,.md,.txt" 
                    style="display:none;">
                {{ file.name }} ({{ file.size }} bytes)
                <button 
                    type="button" 
                    (click)="removeFile(i)">
                    <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                </button>
            </li>
        </ul>
        <div class="mb-16">
            <button 
                type="button" 
                class="custom-button-01" 
                (click)="addFile()">Add Document
            </button>
            <input 
                type="file" 
                (change)="onFileChange($event)" 
                accept=".doc,.docx,application/pdf,.md,.txt" 
                style="display:none;" 
                #fileInput>
        </div>
        <div class="grid grid-cols-2 gap-6 md:grid-cols-4 pb-24">
            <button 
                type="button" 
                class="custom-button-01"
                (click)="onBack()">Back to dashboard</button>
            <button 
                type="submit" 
                class="custom-button-01">Create Job</button>
        </div>
    </form>
</div>
<ng-template #successTemplate>
    <div class="container mt-28 h-svh flex flex-col justify-center gap-y-10">
        <p class="h2">Custom job creating in progress...</p>
        <p>Now let AI take some time to customize the questions for you.</p>
        <p>Please do not click away as this will cancel the request.</p>
        <div *ngIf="isLoadingCustomJob; else enableBackButton">
            <div class="type-writer text-n-1 mt-5"></div>
            <div class="dots-container mt-7">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <ng-template #enableBackButton>
            <div>
                <button 
                    (click)="switchToDashboard()"
                    class="custom-button-01">Back to dashboard
                </button>
            </div>
        </ng-template>
    </div>
</ng-template>